.products-list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.products-list .card{
    margin: 0.5em;
    width: 16rem;    
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card-body .card-text{
    flex-grow: 1;
}
