.comment{
    font-size: 12px;
}
.averagesComment{
    color: orange;
    font-weight: bold;
}
.countComment{
    font-weight: bold;
}
.rating {
    direction: rtl;
 }
 .rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 1.1em;
    transition: color .4s;
 }
 .rating a.active,
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: orange;
    cursor: pointer;
 }
 .category{
    font-size: 12px;
    line-height: 1.5em;
 }