.blue{
    color: #007bff;
}
label{
    color:#17a2b8;
    font-size: 11px;
}
input,textarea{
    font-size: 11px;
}
.rating {
    direction: rtl;
 }
 .rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 1.4em;
    transition: color .4s;
 }
 .rating a.active,
 .rating a:hover,
 .rating a:focus,
 .rating a:hover ~ a,
 .rating a:focus ~ a {
    color: orange;
    /* background-color: orange; */
    cursor: pointer;
 }
